/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  float: left;
  background-color: black; 
  width: 33%; 

}

#left {
  float: left;
  background-color: grey;
  width:33%;
}

#middle {
  float:left;
  background-color: black;
  width:33%; 
}

#right {
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  color: #fff;
  background: #394549;
}

#division { 
  background-color: grey; 
  margin: 2%; 
}

aside { 
  float:left;
  margin: 5%; 
  background-color: white; 
}

footer {
  padding: 20px;
  clear: both;
  background: #FFA500;
  color:grey; 
}
